/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

  background: linear-gradient(grey, black);
  font-family: 'Fredoka One', cursive;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


table, th, td {
   border: 1px solid black;
}


header{
  width: 1024px;
  margin:0 auto;
  background-color: white;


}

header img{
  width: 250px;
}



 nav {
  display: inline-block;
  float: right;
  margin-top: 50px;
  }



nav li {
  font-family: 'Righteous', cursive;
  font-size: 20px;
  display: inline-block;
  float: left;
  margin: 10px;
  color:black;
  text-decoration: none;
}

main {
  width: 1024px;
  margin:0 auto;
  background-color: #FFFF59;

  padding-bottom: 20px;
  overflow:hidden;


}

 h1 {
 font-size: 30px;
  padding-top:50px;
  margin-bottom: 50px;
  text-align: center;
 font-family: 'Monoton', cursive;
}
main img{
	width: auto;
  margin: auto;

  display:block;


}

article{
  width:600px;
  margin-top: 50px;
  margin-bottom:  50px;
  margin-left:20px;
  margin-right:20px;
  border-bottom-color: black;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  padding-bottom: 10px;
 float: left;


}

article h2{
  font-size: 25px;
  padding-bottom:  30px;


}
article span{
 display: block;
 margin-bottom: 20px;
 border-bottom-color: black;
 border-bottom-style: solid;
 border-bottom-width: 5px;
 text-align: center;
}

article p{
  line-height: 25px;
  text-align: justify;

}

table span{
	margin:0 auto;
	text-align: center;
	border-style: none;

}

table img{
	margin:auto;
	padding: 10px;
}
footer{
  width:1024px;
  margin: 0 auto;
  background-color: #FFFF59;
  padding-bottom: 20px;
}

i {
  padding-left: 30px;
  display: inline-block;
  text-decoration: none;
  color:black;


}

.fa-facebook-square:hover {
  color:grey;

}

.fa-twitter-square:hover {
  color:grey;
}

.fa-youtube-square:hover {
  color:grey;
}

.abajomenu {

  width:1024px;

  margin:auto;
  background-color: white;
  overflow: auto;
}
.bio {
  width: auto;
  text-align: justify;
  border: none;



}

.bio h2{
  padding-top: 10px;
  text-decoration: underline;

}

.disco {
	border: none;
}

.banbio1 {
  height: 50%;
  width:auto;

}

.side {
     margin:0 auto;
     text-align: center;


 }

 .twitter-follow-button{
   margin-top:50px;
   display: inline-block;
   text-align: center;
 }



 .side span{
   display:block;
     text-align: center;
     margin: 0 auto;
     padding-top: 30px;
     font-family:  'Righteous', cursive;

 }

 .side iframe{
   padding-top:20px;
 }
